/*
 * HERO
 *
 * Various styles for large block elements.
 */

/*doc
---
title: Hero
name: hero
category: Components
---

`.hero` is a large spot, used for grabbing the user's attention. Typically it includes a header:

```html_example
<div class="hero">
  <h1 class="headline">Welcome</h1>
  <h2 class="sub-headline">Lightning Talks Live is a lovely site</h2>
</div>
```
*/
.hero {
  padding: ms(2) 0;
  // Pattern: http://ptrn.it/1uqXjta
  background: $darkslategray url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkQAOhQTH/V69bwogujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQAfyiYLlJTPyQAAAABJRU5ErkJggg==) repeat;

  text-align: center;
  color: $whitesmoke;
}

.hero .headline {
  font-family: $base-font;
  font-size: ms(2);
  font-weight: 600;
}

.hero .sub-headline {
  margin-bottom: ms(1);
  font-size: ms(1);

  @include at-break($md-query) {
    @include center-block;
    max-width: 60vw;
  }
}

.hero .schedule-cta {
  @extend .btn-primary;
  font-size: 1.25rem;
}
