/* TYPOGRAPHY */
$base-font: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$support-font: $base-font; // Often a serif
$monospace-font: 'Source Code Pro', monospace;

$base-font-size: 1em; // Equals 100%, 1rem, or roughly 16px
$base-line-height: 1.5;
$rhythm-unit: $base-line-height / 2; // Makes math a lot easier

// Use modular-scale to get our scaling
$base-ratio: $major-third; // Major third, 1.25

$show-guide: false; // Show a baseline guide
$guide-color: #f1e8fd;

/* COLORS */

// Generic Grays/Whites/Darks
$black: #222;
$dark-gray: #444;
$gray: #999;
$light-gray: #ccc;
$whitesmoke: #fdfdfd;
$white: #fff;

// Primary palette colors
// Blues, reds, greens, etc.

// Application of palette
$bg-color: $white;
$text-color: $dark-gray;
$brand-color: $whitesmoke;
$brand-color-alt: $white;

$highlight-color: $gray;
$error-color: darken(red, 15%);

/* FORM CONFIGS */
$input-padding: .5em 1em;

/* GLOBAL STYLES */
$border-radius: 2px;


/*
  **********************
  IGNORE BELOW THIS LINE

  The following section just passing various from
  this file to various dependencies.
  **********************
*/

// Pass typography variables to modular-scale
$ms-base: $base-font-size;
$ms-ratio: $base-ratio;
