/* TYPOGRAPHY */
$base-font: 'Source Sans Pro', sans-serif;
$support-font: $base-font;
$monospace-font: 'Source Code Pro', monospace;

$base-font-size: 100%;
$base-line-height: 1.5;

/* COLORS */

// Generic Grays/Whites/Darks
$dark-gray: #333;
$gray: #797979;
$light-gray: #ccc;
$whitesmoke: #fdfdfd;
$white: #fff;

// Primary palette colors
// Blues, reds, greens, etc.

// Application of palette
$bg-color: $white;
$text-color: $dark-gray;
$brand-color: $whitesmoke;
$brand-color-alt: $white;

$highlight-color: $gray;
$error-color: darken(red, 15%);

/* FORM CONFIGS */
$input-padding: .5em 1em;

/* GLOBAL STYLES */
$border-radius: 2px;
