/*
 *  TYPOGRAPHY
 *
 *  Gives us a great foundation for slick type. Based on bits
 *  and pieces from typeplate.com and other sources. There is some
 *  overlap with this file and vendor/_normalize.scss, be careful!
 *
 *  A good walkthrough of some of this can be found here:
 *  http://webdesign.tutsplus.com/articles/a-web-designers-typographic-boilerplate--webdesign-15234
 */

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

@mixin font-size($font-size, $line-height: true) {
 font-size: $font-size / $base-font-size;

 @if $line-height == true {
   line-height: strip-units(ceil($font-size / $base-line-height) * ($base-line-height / $font-size));
 }
}

html {
  font-family: $base-font;
  font-size: $base-font-size;
}

body {
  -webkit-font-smoothing: antialiased;
  hyphens: auto;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;

  line-height: $base-line-height;
  color: $text-color;
}

abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
tt,
var {
  // http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation
  hyphens: none;
}

code,
kbd,
pre,
samp {
  font-family: $monospace-font;
}

pre code {
  word-wrap: normal;
  // http://css-tricks.com/almanac/properties/w/whitespace
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

pre,
code {
  white-space: pre;
}

abbr {
  // https://developer.mozilla.org/en-US/docs/CSS/font-variant
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: $gray;
}

abbr[title]:hover {
  cursor: help;
}

blockquote {
 font-style: italic;
}

blockquote:before {
  content: "\201C";
  display: inline-block;
  padding-right: .4em;
}

h1, h2, h3, h4 {
  font-weight: inherit;

  // We never want massive line-heights on headers
  line-height: 1.2;
}

h1 {
  @include font-size(ms(4), false);
}

h2 {
  @include font-size(ms(3), false);
}

h3 {
  @include font-size(ms(2), false);
}

h4 {
  @include font-size(ms(1), false);
}
