/* EXTERNAL DEPENDENCIES */

@import "vendor/normalize";
@import "vendor/modular-scale";

/* CONFIG AND OVERRIDES */
@import "config";

@import "shims";

@import "utils/mixins";
@import "utils/placeholders";

@import "typography";

@import "common/header";
@import "common/footer";

@import "common/elements"; // Base reset per our design

@import "common/forms";
@import "common/buttons";


/*doc
---
title: Sample Docs
name: example
category: basics
---
```html_example
    <div class='example'>Amazing Style Guide coming soon...</div>
```
*/
/*
#main {
  margin: 50px;
  width: 150px;
  height: 150px;
  border-radius: 30px;
  background: red;
  transition: transform 1s;
}*/
