@import "config";

@import "vendor/normalize";
@import "vendor/flex";

@import "utils/mixins";
@import "utils/placeholders";

@import "shims";
@import "typography";

@import "common/layout";
@import "common/header";
@import "common/footer";

@import "common/elements"; // Base reset per our design

@import "common/forms";
@import "common/buttons";

#main {
  margin: 50px;
  width: 150px;
  height: 150px;
  border-radius: 30px;
  background: red;
  transition: transform 1s;
}