/*
 *  SITE FOOTER
 *
 *  Misc. links, copyright, everything at the bottom
 */

.site-footer {
  margin-top: ms(1);
  padding: ms(2) 0;
  background: $light-gray;
  text-align: center;
}

.site-footer small {
  font-size: 1rem;
}
