/*
 * LAYOUT
 *
 * All blocks, layout, and primary framing for the application.
 */

/*doc
---
title: Inner Container
name: inner-container
category: Layout
---

`.inner-container` is used to wrap content that should not be full width:

```html_example
<div class="inner-container">
  <h1>Big Block</h1>
  <p>This block will be centered aligned, helpful for responsive design.</p>
</div>
```
*/
.inner-container {
  max-width: 80vw;
  margin: 0 auto;
}
